RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.chrisconrey\.com$ [NC]
#if not root
RewriteCond %{REQUEST_URI} !^/?$ [NC]
#redirect
RewriteRule ^(.*)$ http://postmodernsales.com/$1 [R=301,L]